<head>
  <link rel="stylesheet" type="text/css" href="Lit3.css">
  
  
</head>

<body>
<div class="card">
  <h2 >Edit this Article</h2>

  <form action="/todo/update/<%= @bike.id %>">
    <input class="text-input" name="title" type="text" value="<%= @bike.title %>">
    <br>
    <br>
    <input class="text-input" name="image" type="text" value="<%= @bike.image %>">
    <br>
    <br>
    <input class="text-input" name="price" type="number" value="<%= @bike.price %>">
    <br>
    <br>
  <input class="text-input" name="description" type=text value="<%= @bike.description %>">
  <br>
    <input class="button add-new-todo-button" type="submit" value="Edit todo">
    <a href="/todo/show/<%= @bike.id %>" class="simple-link">Go back...</a>
  </form>
</div> 
</body>