<head>
 <link rel="stylesheet" type="text/css" href="Lit.css">
 <title>Show</title>
 
</head><body>
  
<div class="card1">
 <!--<input type="checkbox" name=""/>-->
 <h1 href="https://preview.c9users.io/ap0ca1yp53/final/index.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io"> <%= @bike.title %></h1>
 <div class="image">
 <img class="dog" src="<%= @bike.image %>"></div><br>
<span class="price">$<%= @bike.price %> </span>
<a class="description"><%= @bike.description %></a><br>
 <a class="show" href="/todo/edit/<%= @bike.id %>" class="button edit-todo-button">Edit</a>
 <a class="show" href="/todo/destroy/<%= @bike.id %>" class="button delete-todo-button">Delete</a>
 <a class="show" href="/" class="simple-link">Go back...</a>
</div></body>